* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1b1c1e;
    text-align: center;
    color: lightgrey;
}

h1 {
    font-family: century;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    text-shadow: 2px 2px lavender;
}

p {
    color: #d2d2d2;
    text-shadow: 2px 2px lavender;
}

p,
input,
textarea,
label {
    font-family: century;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .27s ease;
}

input[type=submit]:hover {
    background: #fff;
    color: #1b1c1e;
}

input,
textarea {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px soild #828282;
}

a {
    color: #828282;
    font-style: italic;
    font-size: 25px;
}

a:hover {
    color: #fff;
}

p {
    font-size: 25px;
}

button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

button:hover {
    color: white;
}

button:active span::before {
    background: #2751cd;
}